{% load static %}
<!DOCTYPE html>
<html>
<head>
  <title>{% block title %}{% endblock %}</title>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <link rel="shortcut icon" href="{% static 'images/favicon.ico' %}" type="image/x-icon">
  <link rel="icon" href="{% static 'images/favicon.ico' %}" type="image/x-icon">
  <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
  <link rel="stylesheet" href="{% static 'css/style.css' %}">
  {% block css %}{% endblock %}
  <script type="text/javascript" src="{% static 'js/jquery-1.11.0.min.js' %}"></script>
  <script type="text/javascript" src="{% static 'js/bootstrap.min.js' %}"></script>
  {% block js %}{% endblock %}
</head>
<body> 
      <nav class="navbar navbar-inverse sticky-top">
        <div class="container-fluid">
        <ul class="nav navbar-nav">
          <a class="navbar-brand" href="/"><span class="glyphicon glyphicon-home"></span></a>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">RD&nbsp;<span class="glyphicon glyphicon-chevron-down"></span></a>
           <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
             <a class="dropdown-item" href="/rd/bom/">BOM edit A</a></br>
             <a class="dropdown-item" href="/rd/bom1/">BOM edit B</a></br>
             <a class="dropdown-item" href="/rd/StockQuery/">物料搜尋</a></br>
             <a class="dropdown-item" href="/rd/samplelot/">樣品進度</a></br>
           </div>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">ATE&nbsp;<span class="glyphicon glyphicon-chevron-down"></span></a>
           <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
           {% if request.path == '/ate/device_yield/' %}
             <a class="dropdown-item" href="#">
           {% else %}
             <a class="dropdown-item" href="/ate/device_yield/">
           {% endif %}單一產品良率</a></br>
           {% if request.path == '/ate/spcc_xr/' %}
             <a class="dropdown-item" href="#">
           {% else %}
             <a class="dropdown-item" href="/ate/spcc_xr/">
           {% endif %}測項 X-R管制圖</a></br>
           {% if request.path == '/ate/test_item_list/' %}
             <a class="dropdown-item" href="#">
           {% else %}
             <a class="dropdown-item" href="/ate/test_item_list/">
           {% endif %}測項清單</a>
           </div>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">HR&nbsp;<span class="glyphicon glyphicon-chevron-down"></span></a>
           <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
             <a class="dropdown-item" href="/hr/meetingroom/">a</a>
           </div>
          </li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          {% if request.user.is_authenticated %}
          <li><a href="/accounts/logout/"><span class="glyphicon glyphicon-user"></span>&nbsp;{{request.user}}</a></li>
          <li><a href="/accounts/logout/"><span class="glyphicon glyphicon-log-out"></span>&nbsp;登出</a></li>
          {% else %}
          <li><a href="/accounts/login/"><span class="glyphicon glyphicon-log-in"></span>&nbsp;登入</a></li>
          {% endif %}
        </ul>
        </div>
      </nav>

      {% block content %}
      {% endblock %}
</body>
</html>