{% extends 'base.html' %}
{% load static %}
{% block title %}YDS Home{% endblock %}
{% block content %}
  <h1 class="center">Bulletin Board</h1>
  <div class="container">
	  <div class="row">
	    <div class="col-lg-12">
	    	<table class="TB_list">
	    		<caption>常用連結 {{ ss }}</caption>
	    		<tbody>
	    			<tr>
	    				<td><a href="http://192.168.1.25/gas/wa/r/gdc-tiptop-udm-intranet" target="blank"><h4 class="center">TipTop</h4></a>
	    				</td>
	    				<td><a href="http://192.168.1.26/EFNET/DefaultLoginPage.aspx" target="blank"><h4  class="center">EasyFlow</h4></a>
	    				</td>
	    			</tr>
	    		</tbody>
	    	</table>
	    </div>
	  </div>
  </div>
{% endblock content %}