{% extends 'base.html' %}
{% block title %}HR - Lunch List{% endblock %}
{% load static %}
{% block js %}
  <script type="text/javascript" src="{% static 'js/moment.js' %}"></script>
  <script type="text/javascript" src="{% static 'js/bootstrap-datetimepicker.min.js' %}"></script>
  <script type="text/javascript">
            $(function () {
                $('#datetimepicker1').datetimepicker({format: 'L'});
            });
        </script>

{% endblock %}
{% block css %}
  <link rel="stylesheet" href="{% static 'css/bootstrap-datetimepicker.min.css' %}">
{% endblock %}
{% block content %}
<div class="container">
  {% if perms_add %}
  <div class="row">
    <div class='col-md-12'>
      <table class="TB_lunch_add">
        <caption>新增</caption>
        <thead>
          <tr>
            <th>填寫日期</th>
            <th>停用者工號</th>
            <th>停用日期</th>
            <th>備註</th>
            <th>&nbsp;</th>
          </tr>
        </thead>
        <tbody>
          <form name="lunch_add" action="" method="post">
          {% csrf_token %}
          <tr>
            <td><input type="text" name="issue_date" size="16" value="{{ issuedate }}" required>
            <input type="hidden" name="issuer" size="6" value="{{request.user}}"></td>
            <td><input type="text" name="badge" size="20" required></td>
            <td><div class='input-group date' id='datetimepicker1'><input type='text' name='effect_date' class="form-control" size="6" value="{{tday}}" required><span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span></div></td> 
            <td><input type="text" name="note" size="20"></td>
            <td><button type="summit" class="btn btn-primary"><span class="glyphicon glyphicon-save"></span>&nbsp;Save</button></td>
          </tr>
          </form>
        </tbody>
    </div>
  </div>
  {% endif %}
  <div class="row">
    <div class='col-lg-12'>
      <table class="TB_lunch_l">
        <caption>{{ month }}月份</span>&nbsp;已填寫清單</caption>
        <thead>
          <tr>
            <th width="80">停用日期</th>
            <th width="60">填寫人</th>
            <th width="60">填寫日期</th>
            <th width="300">停用者工號</th>
            <th>備註</th>
          </tr>
        </thead>
        <tbody>
{% for i in m_list %}
          {% if i.effect_date|date:"m-d" == tday %}
          <tr>
            <td class="HL"><b>{{i.effect_date|date:"m-d"}}</b></td>
        		<td class="HL"><b>{{i.issuer}}</b></td>
            <td class="HL"><b>{{i.issue_date|date:"m/d h:m:s"}}</b></td>
        		<td class="HL"><b>{{i.badge_list}}</b></td>
            <td class="HL"><b>{{i.note}}</b></td>
          </tr>
          {% else %}
          <tr>
            <td>{{i.effect_date|date:"m-d"}}</td>
            <td>{{i.issuer}}</div></td>
            <td>{{i.badge_list}}</td>
            <td>{{i.issue_date|date:"m/d h:m:s"}}</td>
            <td>{{i.note}}</b></td>
          </tr>
          {% endif %}
{% endfor %}
        </tbody>
      </table>
    </div>
  </div>
</div>
{% endblock content %}