{% extends 'base.html' %}
{% block title %}ATE 測項清單{% endblock %}
{% block content %}
<div align="center">
  <h1>ATE 測項清單 :</h1>
</div>
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <table class="TB_DATA">
            <thead>
              <tr>
                <th width = '25%'>欄位</th>
                <th width= '25%'>單位</th>
                <th width="20">名稱</th>
              </tr>
            </thead>
            </tbody>
              {% for i in raw %}
               <tr>
                  <td><div align="center">{{i.col}}</div></td>
                  <td><div align="center">{{i.unit}}</div></td>
                  <td><div align="center">{{i.name}}</div></td>
               </tr>
              {% endfor %}
            </tbody>
           </table>
        </div>
      </div>
    </div>
{% endblock content %}