{% extends 'base.html' %}
{% block title %}ATE 測項清單{% endblock %}
{% block content %}
<div align="center">
  <h1>ATE 測項清單 :</h1>
</div>
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-12">
          <table class="t1">
            <tr>
              <th width = '25%'>欄位</th>
              <th width= '25%'>單位</th>
              <th width="20">名稱</th>
            </tr>
            {% for i in raw %}
             <tr>
                <td><div align="center">{{i.col}}</div></td>
                <td><div align="center">{{i.unit}}</div></td>
                <td><div align="center">{{i.name}}</div></td>
             </tr>
            {% endfor %}
           </table>
        </div>
      </div>
    </div>
{% endblock content %}