{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>ATE HomePage</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/static/css/bootstrap.min.css">
    <script>window.jQuery || document.write('<script src="js/jquery-1.11.0.min.js"><\/script>')
    </script>
    <script type="text/javascript" src="{% static 'js/jquery-1.11.0.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/bootstrap.min.js' %}"></script>
</head>
<body>
    <div align="center"><h1>ATE測試相關功能 :</h1></div>
	<div class="wrapper">
		<div class="main">
			<div class="content">
				<div class="row">
					<div class="col-md-3">
                        <div align="center"><h3><a href='./device_yield'>單一產品良率</a></h3></div>
                    </div>
                    <div class="col-md-3">
                        <div align="center"><h3><a href='./spcc_xr'>測項 X-R管制圖</a></h3></div>
                    </div>
                    <div class="col-md-3">
                        <div align="center"><h3><a href='./test_item_list'>測項清單</a></h3></div>
                    </div>
                    <div class="col-md-3">
                        <div align="center"><h3><a href='./'>reserve</a></h3></div>
                    </div>
				</div>
			</div>

		</div>
	</div>
</body>
</html>