{% extends 'base.html' %}
{% block title %}單一產品良率{% endblock %}
{% load static %}
{% block js %}
  <script type="text/javascript" src="{% static 'js/highcharts/highcharts.js' %}"></script>
  <script type="text/javascript" src="{% static 'js/highcharts/modules/exporting.js' %}"></script>
{% endblock %}
{% block content %}
    <div class="container">
          <div class="row">
            <div class="col-lg-12">
              <form name="ate_func" action="" method="post">
              {% csrf_token %}
              <table class="TB_MENU">
              	<tbody>
                  <tr>
                		<td><select  name="device" required="required" class="form-control">
                					{% for i in devices %}
                                  {% if i == device %}
                					    <option selected="selected">{{i}}</option>
                                   {% else %}
                                   <option>{{i}}</option>
                                  {% endif %}
                					{% endfor %}
                				</select>
                		</td>
                		<td><input type="text" name="total_gt" placeholder="納入計算的最小批量(1000)" class="form-control" width="80"></td>
                		<td><input type="image" src="/static/images/button_start.png" border="0" alt="重新篩選" title=" 重新篩選" width="80"></td>
                	<tr>
                </tbody>
              </table>
              </form>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <table class="TB_DATA">
              	<caption>機種名稱:{{ device }}</caption>
                <thead>
                  <tr>  
                    <th scope="col">日期</th>
                		<th scope="col">批號</th>
                		<th scope="col">總數</th>
                		<th scope="col">良品</th>
                		<th scope="col">良率</th>
                	</tr>
                </thead>
                <tbody>
              	{% for i in arr %}
                	<tr>
                      <td>{{i.date}}</td>
                		<td>{{i.lotname}}</td>
                		<td>{{i.total}}</td>
                		<td>{{i.good}}</td>
                		<td>{{i.yield_cal}}</td>
                	</tr>
              	{% endfor %}
              </tbody>
              </table>
            </div>
          </div>
          <br>
          <div class="row">
            <div class="col-lg-12">
              <div id="container" style="width: 800px; height: 400px; margin: 0 auto">
              <script type="text/javascript">
              $(document).ready(function() {
                 var title = {
                    text: '每批 總數/良品/良率 曲線圖'
                 };
                 var subtitle = {
                    text: 'Source: ATE tester'
                 };
                 var xAxis = {
                    title: {
                       text: '批號'
                    },
                    categories: [
                       {% for i in arr %}
                          '{{i.lotname}}',
                       {% endfor %}
                    ]
                 };
                 var yAxis = [{ //Y1
                    title: {
                       text: '數量',
                       style: {
                             color: Highcharts.getOptions().colors[0]
                          }
                    }
                 },
                 { //Y2
                    title: {
                       text: '良率',
                       style: {
                             color: Highcharts.getOptions().colors[1]
                          }
                    },
                    opposite: true
                 }];
                 var tooltip = {
                    valueSuffix: ' pcs'
                 }
                 var legend = {
                    layout: 'vertical',
                    align: 'right',
                    verticalAlign: 'middle',
                    borderWidth: 0
                 };
                 var series =  [
                    {
                       name: 'Total',
                       yAxis: 0,
                       data: [
                                {% for i in arr %}
                                   {{i.total}},
                                {% endfor %}
                       ],
                       tooltip: {
                              valueSuffix: ' pcs'
                          }
                    }, 
                    {
                       name: 'Pass',
                       yAxis: 0,
                       data: [
                                {% for i in arr %}
                                   {{i.good}},
                                {% endfor %}
                       ],
                       tooltip: {
                              valueSuffix: ' pcs'
                          }
                    },
                    {
                       name: 'Yield',
                       yAxis: 1,
                       data: [
                               {% for i in arr %}
                                   {{i.yield_cal}},
                                {% endfor %}
                       ],
                       tooltip: {
                              valueSuffix: ' %'
                          }
                    }
                 ];
                 var json = {};
                 json.title = title;
                 json.subtitle = subtitle;
                 json.xAxis = xAxis;
                 json.yAxis = yAxis;
                 json.tooltip = tooltip;
                 json.legend = legend;
                 json.series = series;
                 $('#container').highcharts(json);
              });
              </script>
              </div>
            </div>
          </div>
        </div>
{% endblock content %}