{% extends 'base.html' %}
{% block title %}RD - BOM edit{% endblock %}
{% load static %}
{% block css %}{% endblock %}
{% block js %}
<script type="text/javascript" src="{% static 'js/clipboard.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/bom.js' %}"></script>
{% endblock %}
{% block content %}
 <script>
    var clipboard = new ClipboardJS('.btn');
    clipboard.on('success', function(e) {
        console.log(e);
    });
    clipboard.on('error', function(e) {
        console.log(e);
    });
</script>
  <h1 class="center">RD BOM edit</h1>
  <div class="container">
    <div class="row">
            <div class='col-lg-12'>
                <table class="TB_Bomlist">
                    <thead>
                        <tr>
                            <th>類別</th>
                            <th>規格-品名-料號&nbsp;&nbsp;<a href="{% static 'uploads/TIPTOP-ALL.csv' %}" download>excel檔下載</a></th>
                            <th><div class="btn-group" role="group" aria-label="Basic example"><button type="button" class="btn btn-default" onclick='insert_click()'>加入</button><button type="button" class="btn btn-default" onclick='del_click()'>清除</button><button class="btn btn-default" data-clipboard-action="copy" data-clipboard-target="#tbody">複製到剪貼簿</button><button type="button" class="btn btn-default" onclick='exportExcel()'>EXCEL</button></div>
                            </th>
                            <th>零件位置</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td><select id= "txt_type" onchange='comp_select()'>
                                {% for i in comp_type %}<option value= "{{ i }}">{{ i }}</option>{% endfor %}</select>
                            </td>
                            <td colspan="2">
                                <input type="text" id="txt_content" list="content" size = "100" /> 
                                <datalist id="content"> 
                                     <option value="111--111--111"> 
                                </datalist>
                            </td>
                            <td>
                                <input type="text" id="txt_pos" size = "4">
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
    </div>
    <div class="row">
            <div class='col-md-12'>
                <div id="div_excel"> 
                <table class="TB_DATA" id="table1">
                <caption>編輯清單</caption>
                <tbody id="tbody">
                    <tr>
                        <td>料號</td>
                        <td>品名</td>
                        <td>規格</td>
                        <td>零件位置</td>
                    </tr>
                </tbody>
                </table>
                </div>
            </div>
     </div>
  </div>
{% endblock content %}
