{% extends 'base.html' %}
{% load static %}
{% block title %}庫存搜尋{% endblock %}
{% block content %}
<p>庫存搜尋</p>
{{ss}}
<form action="/rd/StockQuery_ajax/" method="get">
    料號<input type="text" id="a" name="a"> <br>
    <p>庫存數: <span id='result'></span></p>
    <button type="button" id='sum'>提交</button>
</form>
<script>
    $(document).ready(function(){
      $("#sum").click(function(){
        var a = $("#a").val();
        $.get("/rd/StockQuery_ajax/",{'a':a}, function(ret){
            $('#result').html(ret)
        })
      });
    });
</script>
{% endblock content %}