{% extends 'base.html' %}
{% load static %}
{% block title %}庫存搜尋{% endblock %}
{% block content %}
<h1 class="center">庫存搜尋</h1>
  <div class="container">
    <div class="row">
        <div class='col-lg-12'>
            <div class="center">
            <table class="TB_Bomlist">
                <caption>限定TipTop料號,可用萬用字元 '<font color='red'>%</font>' '<font color='red'>_</font>' 進行模糊搜尋</caption>
                <thead>
                  <tr>
                    <th>料號</th>
                    <th>&nbsp;&nbsp;</th>
                  </tr>
                </thead>
                <tbody>
                  <form name="bom_serach" action="" method="post">
                  {% csrf_token %}
                  <tr>
                    <td><input type="text" name="pn" size="16" required></td>                    
                    <td><button type="summit" class="btn btn-primary"><span class="glyphicon glyphicon-search"></span>&nbsp;Search</button></td>
                  </tr>
                  </form>
                </tbody>
            </table>
            </div>
        </div>
    </div>
    <hr>
  {% if result %}
    <div class="row">
        <div class='col-lg-12'>
            <table class="TB_DATA">
                <thead>
                  <tr>
                    <th>料號</th>
                    <th>庫存數量</th>
                  </tr>
                </thead>
                <tbody>
                  {% for i in result %}
                  <tr>
                    <td>{{ i.pn }}</td>                    
                    <td>{{ i.qty }}</td>
                  </tr>
                  {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    {% endif %}
  </div>
{% endblock content %}